header.head
	.col-xs-4.logo
		img(src="assets/img/logo.png")
	.col-xs-8
		nav
			ul.nav.nav-pills
				li
					a(href='#products') Продукция
				li
					a(href='#calc') Калькулятор
				li
					a(href='#contact') Контакты 
	.col-xs-12.text-center
		h1 Незамерзающая <br>Жидкость 

